<!DOCTYPE html><!-- -->
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <!--<script src="contact-us/contact-us.component.js"></script>
  <script src="contact-us/contact-us.module.js"></script>
  <script src="consultancy/consultancy.component.js"></script>
  <script src="consultancy/consultancy.module.js"></script>-->
</head>
<body ng-app="myApp">



<div class="navbar navbar-default navbar-glob">
  <div class="container">
    <div class="navbar-header">
      <div class="row">
        <div class="hidden-sm hidden-md hidden-lg centered">
          <h3><a ng-click="myVar=false" class="nav-a-attribute" href="#"><img class="logo-first-char" src="img/ghost_writer.svg" height="25px" width="25px" />host Writer</a></h3>
        </div>
        <div class="hidden-xs">
          <h3><a ng-click="myVar=false" class="nav-a-attribute" href="#"><img class="logo-first-char" src="img/ghost_writer.svg" height="25px" width="25px" />host Writer</a></h3>
        </div>
      </div>
    </div>
    <ul class="nav navbar-nav nav-bar-list" style="float:right;">
      <li><a ng-click="myVar=true" href="#featured-services">Our Featured Services</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</div>
<div class="container-fluide hidden-sm hidden-md hidden-lg">
  <div class="smallMenu">
    <a ng-click="myVar=false" href="#"><li>Home</li></a>
    <a ng-click="myVar=true" href="#about"><li>About Us</li></a>
    <a ng-click="myVar=true" href="#consultancy"><li>Consultancy</li></a>
    <a ng-click="myVar=true" href="#marketing"><li>Marketing</li></a>
    <a ng-click="myVar=true" href="#publishing"><li>Publishing</li></a>
    <a ng-click="myVar=true" href="#pr"><li>PR</li></a>
    <a ng-click="myVar=true" href="#contact-us"><li>Contact</li></a>
  </div>
</div>
<div class="container menu-cont hidden-xs" align="center" id="menuContainer" ng-hide="myVar">
  <div class="main-circle" id="mainCircle">
  <div class="sub-circle" style="margin-left:-25px;">
    <div class="home-buttons" onmouseover="menuButOver('ofs-cont-field',5)" onmouseleave="menuButLev('ofs-cont-field',5)">
      <a class="menu-items" id="ofs-cont-field" ng-click="myVar=true" href="#featured-services">
        <span class="char1 menu-char"></span>
        <span class="char2 menu-char">O</span>
        <span class="char3 menu-char">F</span>
        <span class="char4 menu-char">S</span>
        <span class="char5 menu-char"></span>
      </a>
    </div>
    <div class="home-buttons" onmouseover="menuButOver('abt-cont-field',8)" onmouseleave="menuButLev('abt-cont-field',8)">
      <a class="menu-items" id="abt-cont-field" ng-click="myVar=true" href="#about">
        <span class="abt-char1 menu-char">A</span>
        <span class="abt-char2 menu-char">b</span>
        <span class="abt-char3 menu-char">o</span>
        <span class="abt-char4 menu-char">u</span>
        <span class="abt-char5 menu-char">t</span>
        <span class="abt-char6 menu-char"> </span>
        <span class="abt-char7 menu-char">U</span>
        <span class="abt-char8 menu-char">s</span>
      </a>
    </div>
    <div class="home-buttons" onmouseover="menuButOver('consl-cont-field',11)" onmouseleave="menuButLev('consl-cont-field',11)">
      <a class="menu-items" id="consl-cont-field" ng-click="myVar=true" href="#consultancy">
        <span class="consl-char1 menu-char">C</span>
        <span class="consl-char2 menu-char">o</span>
        <span class="consl-char3 menu-char">n</span>
        <span class="consl-char4 menu-char">s</span>
        <span class="consl-char5 menu-char">u</span>
        <span class="consl-char6 menu-char">l</span>
        <span class="consl-char7 menu-char">t</span>
        <span class="consl-char8 menu-char">a</span>
        <span class="consl-char9 menu-char">n</span>
        <span class="consl-char10 menu-char">c</span>
        <span class="consl-char11 menu-char">y</span>
      </a>
    </div>
    <div class="home-buttons" onmouseover="menuButOver('mark-cont-field',9)" onmouseleave="menuButLev('mark-cont-field',9)">
      <a class="menu-items" id="mark-cont-field" ng-click="myVar=true" href="#marketing">
        <span class="mark-char1 menu-char">M</span>
        <span class="mark-char2 menu-char">a</span>
        <span class="mark-char3 menu-char">r</span>
        <span class="mark-char4 menu-char">k</span>
        <span class="mark-char5 menu-char">e</span>
        <span class="mark-char6 menu-char">t</span>
        <span class="mark-char7 menu-char">i</span>
        <span class="mark-char8 menu-char">n</span>
        <span class="mark-char9 menu-char">g</span>
      </a>
    </div>
    <div class="home-buttons" onmouseover="menuButOver('pub-cont-field',10)" onmouseleave="menuButLev('pub-cont-field',10)">
      <a class="menu-items" id="pub-cont-field" ng-click="myVar=true" href="#publishing">
        <span class="pub-char1 menu-char">P</span>
        <span class="pub-char2 menu-char">u</span>
        <span class="pub-char3 menu-char">b</span>
        <span class="pub-char4 menu-char">l</span>
        <span class="pub-char5 menu-char">i</span>
        <span class="pub-char6 menu-char">s</span>
        <span class="pub-char7 menu-char">h</span>
        <span class="pub-char8 menu-char">i</span>
        <span class="pub-char9 menu-char">n</span>
        <span class="pub-char10 menu-char">g</span>
      </a>
    </div>
    <div class="home-buttons" onmouseover="menuButOver('pr-cont-field',4)" onmouseleave="menuButLev('pr-cont-field',4)">
      <a class="menu-items" id="pr-cont-field" ng-click="myVar=true" href="#pr">
        <span class="pr-char1 menu-char"></span>
        <span class="pr-char2 menu-char">P</span>
        <span class="pr-char3 menu-char">R</span>
        <span class="pr-char4 menu-char"></span>
      </a>
    </div>
    <div class="home-buttons" onmouseover="menuButOver('cont-cont-field',7)" onmouseleave="menuButLev('cont-cont-field',7)">
      <a class="menu-items" id="cont-cont-field" ng-click="myVar=true" href="#contact-us">
        <span class="cont-char1 menu-char">C</span>
        <span class="cont-char2 menu-char">o</span>
        <span class="cont-char3 menu-char">n</span>
        <span class="cont-char4 menu-char">t</span>
        <span class="cont-char5 menu-char">a</span>
        <span class="cont-char6 menu-char">c</span>
        <span class="cont-char7 menu-char">t</span>
      </a>
    </div>
    </div>
  </div>
  <div class="middle-menu-log" id="middleMenuLogg">
    <a href="#harsh-agarwal">
      <img src="img/ghost_writer.svg" ng-click="myVar=true" height="300" widht="300" />
    </a>
  </div>
</div>
<div class="back-button">
    <div class="back-btn-con">
      <a href="#">
          <div class="back-btn" ng-show="myVar" ng-click="myVar=false"></div>
      </a>  
    </div>
</div>
<div class="container main-child-element" style="padding-left:0px;padding-right:0px;" ng-view></div>
<div class="container">
  <div class="empty-space"></div>
</div>

<div class="container home-slice-cont" ng-hide="myVar" style="padding-left:0px;padding-right:0px;">
  <div class="container">
  <!-- OUR PROJECT START -->
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>
        OUR PROJECTS
      </h1>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 text-center">
      <img src="img/ghost_writer.svg" width="60%" />
    </div>
    <div class="col-sm-6">
      <span>
        <p>
          The animation functionality is provided by AngularJS in the ngAnimate module, which is distributed separately from the core AngularJS framework. In addition we will use jQuery in this project to do extra JavaScript animations. The animation functionality is provided by AngularJS in the ngAnimate module, which is distributed separately from the core AngularJS framework. In addition we will use jQuery in this project to do extra JavaScript animations. The animation functionality is provided by AngularJS in the ngAnimate module, which is distributed separately from the core AngularJS framework. In addition we will use jQuery in this project to do extra JavaScript animations.
        </p>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="empty-space"></div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <span>
        <p>
          The animation functionality is provided by AngularJS in the ngAnimate module, which is distributed separately from the core AngularJS framework. In addition we will use jQuery in this project to do extra JavaScript animations. The animation functionality is provided by AngularJS in the ngAnimate module, which is distributed separately from the core AngularJS framework. In addition we will use jQuery in this project to do extra JavaScript animations. The animation functionality is provided by AngularJS in the ngAnimate module, which is distributed separately from the core AngularJS framework. In addition we will use jQuery in this project to do extra JavaScript animations.
        </p>
      </span>
    </div>
    <div class="col-sm-6 text-center">
      <img src="img/ghost_writer.svg" width="60%" />
    </div>
  </div>
  <!-- OUR PROJECT END -->


  </div>
  <div class="footer-cont full-width-div" ng-include src="'footer/footer.template.html'"></div>
</div>
<div class="container">
  <div class="empty-space"></div>
</div>

<!-- Footer Area -->

<!-- Footer Area end -->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <script src="app.js"></script>
  <script src="app.module.js"></script>
  <script src="app.config.js"></script>
  <script src="app.animations.js"></script>
</body>
</html>
