<div class="container">
	<div class="row">
		<div class="col-xs-6 footer-mid-left text-center footer-mid">
			<h2>
				Quick Link
			</h2>
			<div class="footer-cntnt">
				<a ng-click="myVar=false" href="#"><li>Home</li></a>
    <a ng-click="myVar=true" href="#about"><li>About Us</li></a>
    <a ng-click="myVar=true" href="#consultancy"><li>Consultancy</li></a>
    <a ng-click="myVar=true" href="#marketing"><li>Marketing</li></a>
    <a ng-click="myVar=true" href="#publishing"><li>Publishing</li></a>
    <a ng-click="myVar=true" href="#pr"><li>PR</li></a>
    <a ng-click="myVar=true" href="#contact-us"><li>Contact</li></a>
			</div>
		</div>
		<div class="col-xs-6 footer-mid-right text-center footer-mid">
			<h2>
				Contact Info
			</h2>
			<div class="footer-cntnt footer-marg">
				<p>B - 4/5, Ramesh Nagar, New Delhi - 110015</p>
				<p>(91)-7042402314</p>
				<p>info@contentholic.com</p>
			</div>
		</div>
	</div>
</div>
