body{
  background-image:url("img/dark-background.jpg");
  object-fit:cover;
}
.navbar-glob{
  background-color:white;
  box-shadow:0px 2px 5px #a8a8a8;
}
.nav-bar-list li{
  margin-top:2px;
  border-bottom:0px solid white;
}
.nav-bar-list li:hover{
  transition:0.15s;
  box-shadow:0px 5px 2px black;
  border-bottom:4px solid blue;
}
.main-circle{
  width:500px;
  height:500px;
  background-color:#8C8C8C;
  border-radius:50%;
}
.menu-char{
  color:white;
}

.menu-items span{
  font:26px Arail;
  height:250px;
  padding-top:20px;
  position:absolute;
  width:27px;
  margin-top:;
  margin-left:-2px;
  transform-origin:bottom center;
}
.char1{transform:rotate(0deg);}
.char2{transform:rotate(6deg);}
.char3{transform:rotate(12deg);}
.char4{transform:rotate(18deg);}
.char5{transform:rotate(24deg);}

.abt-char1{transform:rotate(36deg);}
.abt-char2{transform:rotate(42deg);}
.abt-char3{transform:rotate(48deg);}
.abt-char4{transform:rotate(54deg);}
.abt-char5{transform:rotate(60deg);}
.abt-char6{transform:rotate(66deg);}
.abt-char7{transform:rotate(72deg);}
.abt-char8{transform:rotate(78deg);}

.consl-char1{transform:rotate(90deg);}
.consl-char2{transform:rotate(96deg);}
.consl-char3{transform:rotate(102deg);}
.consl-char4{transform:rotate(108deg);}
.consl-char5{transform:rotate(114deg);}
.consl-char6{transform:rotate(120deg);}
.consl-char7{transform:rotate(126deg);}
.consl-char8{transform:rotate(132deg);}
.consl-char9{transform:rotate(138deg);}
.consl-char10{transform:rotate(144deg);}
.consl-char11{transform:rotate(150deg);}

.mark-char1{transform:rotate(162deg);}
.mark-char2{transform:rotate(168deg);}
.mark-char3{transform:rotate(174deg);}
.mark-char4{transform:rotate(180deg);}
.mark-char5{transform:rotate(186deg);}
.mark-char6{transform:rotate(192deg);}
.mark-char7{transform:rotate(198deg);}
.mark-char8{transform:rotate(204deg);}
.mark-char9{transform:rotate(210deg);}

.pub-char1{transform:rotate(222deg);}
.pub-char2{transform:rotate(228deg);}
.pub-char3{transform:rotate(234deg);}
.pub-char4{transform:rotate(240deg);}
.pub-char5{transform:rotate(246deg);}
.pub-char6{transform:rotate(252deg);}
.pub-char7{transform:rotate(258deg);}
.pub-char8{transform:rotate(264deg);}
.pub-char9{transform:rotate(270deg);}
.pub-char10{transform:rotate(276deg);}

.pr-char1{transform:rotate(288deg);}
.pr-char2{transform:rotate(294deg);}
.pr-char3{transform:rotate(300deg);}
.pr-char4{transform:rotate(306deg);}

.cont-char1{transform:rotate(318deg);}
.cont-char2{transform:rotate(324deg);}
.cont-char3{transform:rotate(330deg);}
.cont-char4{transform:rotate(336deg);}
.cont-char5{transform:rotate(342deg);}
.cont-char6{transform:rotate(348deg);}
.cont-char7{transform:rotate(354deg);}

.middle-menu-log{
  height:300px;
  width:300px;
  position:relative;
  margin-top:-400px;
  border-radius:50%;
  border:;
  background-color:white;
  margin-bottom:150px; 
  transition:0.5s;
}
.middle-menu-log:hover{
  -webkit-transition:0.5;
  -moz-transition:0.5s;
  -o-transition:0.5s;
  transition:0.5s;
  transform:scale(0.95,0.95);
  cursor:pointer;
}
#ofs-cont-field:hover .menu-char{
  background-color:#6B6B6B;
  -webkit-transition:0.3;
  -moz-transition:0.3s;
  -o-transition:0.3s;
  transition:0.3s;
}
#abt-cont-field:hover .menu-char{
  background-color:#6B6B6B;
  -webkit-transition:0.2;
  -moz-transition:0.2s;
  -o-transition:0.2s;
  transition:0.2s;
}
#consl-cont-field:hover .menu-char{
  background-color:#6B6B6B;
  -webkit-transition:0.2;
  -moz-transition:0.2s;
  -o-transition:0.2s;
  transition:0.2s;
}
#mark-cont-field:hover .menu-char{
  background-color:#6B6B6B;
  -webkit-transition:0.2;
  -moz-transition:0.2s;
  -o-transition:0.2s;
  transition:0.2s;
}
#pub-cont-field:hover .menu-char{
  background-color:#6B6B6B;
  -webkit-transition:0.2;
  -moz-transition:0.2s;
  -o-transition:0.2s;
  transition:0.2s;
}
#pr-cont-field:hover .menu-char{
  background-color:#6B6B6B;
  -webkit-transition:0.2;
  -moz-transition:0.2s;
  -o-transition:0.2s;
  transition:0.2s;
}
#cont-cont-field:hover .menu-char{
  background-color:#6B6B6B;
  -webkit-transition:0.2;
  -moz-transition:0.2s;
  -o-transition:0.2s;
  transition:0.2s;
}
.main-child-element{
  
}
.child-inner-element{
  height:auto;
  margin-top:;
  position:relative;
  
  opacity:0;
  border:1px solid #c6c6c6;
  box-shadow:0px 0px 10px 0px white;
  border-radius:5px;
  
  background-color:white;
  padding-left:35px;
  padding-right:35px;
  
  -webkit-transform:translate(0,-100px);
  -moz-transform:translate(0,-100px);
  -o-transform:translate(0,-100px);
  transform:translate(0,-100px);

  -webkit-transition:linear all 1s;
  -moz-transition:linear all 1s;
  -o-transition:linear all 1s;
  transition:linear all 1s;
}
.child-inner-element.showed{
  -webkit-animation:anim 1.5s;
  -moz-animation:anim 1.5s;
  -o-animation:anim 1.5s;
  animation:anim 1.5s;
  opacity:1;
  transform:scale(1,1);
}
.child-inner-element.showed.ng-scope{
  -webkit-animation:anim1 1s;
  -moz-animation:anim1 1s;
  -o-animation:anim1 1s;
  animation:anim1 1s;
  opacity:1;
}
@-webkit-keyframes anim1{
from{transform:scale(0,0);}
  to{transform:scale(1,1);
}}
@-moz-keyframes anim1{
from{transform:scale(0,0);}
  to{transform:scale(1,1);
}}
@-o-keyframes anim1{
from{transform:scale(0,0);}
  to{transform:scale(1,1);
}}
@keyframes anim1{
from{transform:scale(0,0);}
  to{transform:scale(1,1);
}}

@-webkit-keyframes anim{
from{opacity:0;transform:translate(0,700px);}
to{opacity:1;transform:translate(0,0px);
}}
@-moz-keyframes anim{
from{opacity:0;transform:translate(0,700px);}
to{opacity:1;transform:translate(0,0px);
}}
@-o-keyframes anim{
from{opacity:0;transform:translate(0,700px);}
to{opacity:1;transform:translate(0,0px);
}}
@keyframes anim{
from{opacity:0;transform:translate(0,700px);}
to{opacity:1;transform:translate(0,0px);
}}
.menu-cont{
  transition:all linear 0.5s;
  
}
.menu-cont.ng-hide{
  height:0;
  width:0;
  opacity:0;
  transition:all linear 0.5s;
}
.back-button{
  position:;
  display:block;
}
.footer{
  background-color:red;
}
/* h3 for inner page sub heading*/
h1{
  color:#636363;
}
h3{
  color:#636363;
}
p{
  font-size:18px;
  color:#858585;
  font-family:Arial;
  text-align:justify;
}
label{
  color:#636363;
}
.back-btn:after{
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
  font-size:40px;
  height:50px;
  width:50px;
  color:red;
  margin-left:25px;
}
.back-btn:hover:after{
  color:blue;
}
.loadingC{
  background-color:yellow;
  height:100%;
  width:100%;
  position:fixed;
  left:0;
  top:0;
}
.smallMenu a{
  text-decoration:none;
}
.smallMenu li{
  list-style-type:none;
  width:100%;
  background-color:#eaeaea;
  padding:10px;
  font-size:18px;
  font-family:Arial;
  font-size:normal;
}
.smallMenu li:hover{
  text-decoration:none;
  background-color:#c2c2c2;
}
@media screen and (min-width:400px){
  .navbar-header{
    text-align:center;
  }
}
.theme-bottom-border{
  border-bottom-right-radius:10px;
  border-bottom:2px solid grey;
}
.theme-thee-in-one img{
  width:100%;
}
.empty-space{
  width:100%;
  height:32px;
}
.logo-first-char{
  margin-top:-8px;
}
.nav-a-attribute:hover{
  text-decoration:none;
}
/* this is merely comment  1 */